@model IEnumerable<DTOLayer.DTOs.QuestionLevel.QuestionLevelIndexDTO>
@{
    ViewData["Title"] = "Sual Səviyyəsi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sual Səviyyəsi</h1>


<p>
    <a asp-action="Create" class="btn btn-vimeo" title="Yeni məlumat" style="justify-content: center;">
        Yeni SİNİF
        <lord-icon src="https://cdn.lordicon.com/rfbqeber.json"
                   trigger="hover"
                   style="width:40px;height:40px">
        </lord-icon>
    </a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                SƏVİYYƏ
            </th>
            <th>
                ÇƏTİNLİK
            </th>
            <th>
                STATUS
            </th>
            <th>
                SİLİNMİŞ
            </th>
            <th>
                DƏYİŞDİRİLDİ
            </th>
            <th>
                DƏYİŞDİRƏN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @for (int i = 0; i < item.Level; i++)
                    {
                        <span>*</span>
                    }
                </td>
                <td>
                    @if (item.Status)
                    {
                        <span class="badge badge-pill text-white bg-green">Aktiv</span>
                    }
                    else
                    {
                        <span class="badge badge-pill text-white bg-muted">Passiv</span>
                    }
                </td>
                <td>
                    @if (item.IsDeleted)
                    {
                        <span class="badge badge-pill text-white bg-red">Silinib</span>
                    }
                </td>
                <td>
                    @item.ModifyedDate.Value.ToString("dd.MM.yyyy - HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyUserName)
                </td>
                <td>
                    @await Html.PartialAsync("~/Views/Shared/_ToolsButtonPartial.cshtml", new ToolsButtonViewModel{ Area="admin", Controller="QuestionLevel", RouteId = item.Id.ToString()})

                </td>
            </tr>
        }
    </tbody>
</table>

