@model DTOLayer.DTOs.Subject.SubjectCreateDTO

@{
    ViewData["Title"] = "Yeni Fənn";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Fənn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">FƏNN</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountForQuestion" class="control-label">SUAL ÜZRƏ ÖDƏNİŞ (AZN)</label>
                <input asp-for="AmountForQuestion" class="form-control" />
                <span asp-validation-for="AmountForQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Əlavə Et" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Geri</a>
            </div>
        </form>
    </div>
</div>

